/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

/* Шапка с фоном */
.header-background {
    background-color: rgb(42, 42, 42);
    color: #fff;
    text-align: center;
    z-index: 1;
    height: 100vh;
    position: relative;
}

.upperBlock {
    margin: 0 auto;
    padding: 10vh 20px 0;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 15px;
    animation: fadeIn 1s ease-in-out;
}

.button img {
    width: 50px;
    height: 50px;
    transition: all 0.2s;
    border-radius: 15px;
}

.button img:hover {
    transform: scale(1.1);
    box-shadow: -1px 1px 18px 1px rgba(255, 255, 255, 0.4);
}

.profile-photo {
    display: inline-block;
    border: 5px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-photo:hover {
    transform: scale(1.1);
}

.header-background h1,
.header-background p {
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
}

.scroll-down-arrow {
    cursor: pointer;
    animation: bounce 1.5s infinite;
    width: 44px;
    height: 44px;
    color: white;
}


/* Стили для скрытия стрелки при скролле */
.hidden-arrow {
    opacity: 0;
    transition: opacity 0.6s ease-out;
}

.visible-arrow {
    opacity: 1;
}


.description {

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.buttonLink {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 20px;
    background-color: #0087bc;
    max-width: 150px;
    text-align: center;
    border-radius: 20px;
    font-size: 24px;
    border: 2px solid transparent;
    transition: all 0.2s ease;
}

.buttonLink:hover {
    background-color: #ffffff;
    border: 2px solid #0087bc;
    color: #0087bc;
}

.about,
.skills {
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 80px 10px;
    opacity: 0;
    /* Изначально скрыто */
    transform: translateY(20px);
    /* Изначально смещено */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.skills li {
    list-style-type: none;
}

.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

/* Анимация для стрелки */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Медиазапросы для мобильных устройств */
@media (max-width: 768px) {
    .header-background {
        padding: 60px 0;
    }

    .profile-photo {
        width: 250px;
        height: 250px;
    }

    .buttonLink {
        font-size: 20px;
    }

    .scroll-down-arrow img {
        width: 24px;
        height: 24px;
    }
}