/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;
  background: #f4f4f4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
}

.content-hidden {
  display: none;
}

// /* Шапка с фоном */
.header-background {
  background: url("../img/header.jpg") no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  position: relative;
  z-index: 1;
}

.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  right: 10px;
  top: 50%;
  gap: 15px;
  animation: fadeIn 1s ease-in-out;
}

.button {
  & img {
    width: 50px;
    height: 50px;
    transition: all 0.2s;
    border-radius: 15px;

    &:hover {
      transform: scale(1.1);
      box-shadow: -1px 1px 18px 1px rgba(255, 255, 255, 0.4);
    }
  }
}

.profile-photo {
  display: inline-block;
  border: 5px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-photo:hover {
  transform: scale(1.1);
}

.header-background h1,
.header-background p {
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
}

.about,
.skills {
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 10px;
  animation: fadeIn 1s ease-in-out;
}

.skills{
  & li {
    list-style-type: none;
  }
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Анимации */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
